  <!-- Main Content -->
  <p class="container mx-auto mt-4">
    Project based on <a class="hover:underline text-blue-400 font-bold"
      href="https://github.com/ZTMLuisRamirez/clips/tree/master">clips</a> by Luiz
    Ramirez Jr.
  </p>
  <div class="container mx-auto mt-2">
    <p>Added features:</p>
    <ul class="list-disc">
      <li>Fully built with Angular 16 with new features like inject(), signal() and functional resolvers</li>
      <li>Stronger type checkings</li>
      <li>More user rights checkings</li>
      <li>Users limited to 5 files per account</li>
      <li>Tightened Firebase security rules</li>
      <li>Improved screenshot creation algorithm</li>
      <li>Infinite scrolling with IntersectionObserver</li>
      <li>Improved modal component destroyal after logging in</li>
    </ul>
  </div>
