<app-alert *ngIf="isAlertVisible" [_color]="alertColor">
  {{ alertMsg }}
</app-alert>
<!-- Login Form -->
<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <!-- ngModel combines property binding and event binding in one directive: it can bind the value to a property inside the component and emit an event whenever the value changes -->
    <!-- <input type="text" [value]="" (change)=""> -->
    <input #email="ngModel" type="email" name="email" [(ngModel)]="credentials.email" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent
                        focus:border-indigo-400" placeholder="Enter Email" required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
  </div>
  <p class="text-red-400" *ngIf="email.errors && email.touched && email.dirty">Email is invalid</p>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input #password="ngModel" type="password" name="password" [(ngModel)]="credentials.password" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" />
  </div>
  <p class="text-red-400" *ngIf="password.errors && password.touched && password.dirty">Password is invalid</p>
  <button [disabled]="loginForm.invalid || inSubmission" type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                      hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
    Submit
  </button>
</form>
